
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');


body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    color: white;
}


.h-logo {
    width: 200px;
    margin: 30px;
    padding-bottom: 5rem;
}


.text {
    padding-top: 60px;
}


h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;        
    line-height: 1.5;      
    margin-bottom: 20px;  
}


p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 25px;
}


.btn {
    font-family: 'Open Sans', sans-serif;
    width: 12em;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    color: hsl(257, 40%, 49%);
    border: none;
}

.btn:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}
